body {
    font-family: "Inter", sans-serif;
  }
.branded-bg {
    background-image: url(https://images.unsplash.com/photo-1728853696418-c2c2a7f998fb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        }
.page-bg {
			background-image: url('https://images.unsplash.com/photo-1728853696418-c2c2a7f998fb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		}
.iti.iti--allow-dropdown {
            width: 100%;
            }