body {
    font-family: "Inter", sans-serif;
  }
  .iti.iti--allow-dropdown {
    width: 100%;
    }
.top-n-4{
  position: relative;
  top: -12px;
}
.brand-color{
  background-color: #FF5D19;
}
.brand-text-color{
  color: #FF5D19;
}
.locked{
filter: grayscale(1);
}
.unlocked{
  filter: grayscale(0);
}
.active{
  color: #FF5D19;
}
select.datatable-selector {
  padding: 10px;
}


  
        div#contentpanel {
            position: relative !important;
            z-index: 100 !important;
            overflow: hidden !important;
            left: -200px !important
        }

        .input-group-text.btn.btn-info {
            padding: .85rem 1.15rem
        }

        @media screen and (max-width:767px) {
            .bin_genealogy_tree {
                margin-top: 90px
            }
        }

        .primitives-orgdiagram svg path {
            stroke: white;
            stroke-width: 2px
        }

        .placeholder.orgdiagram path {
            stroke: white !important
        }

        .geneasell .d-flex.justify-content-between {
            width: 100%
        }

        .geneasell .select2-container {
            width: 400px !important
        }

        .ui-layout-pane {
            background: 0 0 !important;
            border: none !important;
            margin-top: 39px !important
        }

        .portlet.light {
            min-height: 800px !important
        }

        .portlet.light.bordered {
            border: 1px solid #e7ecf1 !important;
            margin: 20px
        }

        .portlet.light {
            padding: 12px 20px 15px;
            background-color: #fff
        }

        .portlet.light.bordered>.portlet-title {
            border-bottom: 1px solid #eef1f5
        }

        .portlet.light>.portlet-title {
            padding: 0;
            min-height: 48px
        }

        .portlet.light>.portlet-title>.caption {
            color: #666;
            padding: 10px 0
        }

        .portlet>.portlet-title>.caption {
            float: left;
            display: inline-block;
            font-size: 18px;
            line-height: 18px;
            padding: 10px 0
        }

        .portlet.light>.portlet-title>.caption>.caption-subject {
            font-size: 16px
        }

        .font-green {
            color: #32c5d2 !important
        }

        .uppercase {
            text-transform: uppercase !important
        }

        .sbold {
            font-weight: 600 !important
        }

        .pull-right {
            float: right;
            margin: -10px 0
        }

        span.cycle-title {
            font-size: 22px;
            color: #32c5d3;
            text-align: center;
            display: list-item;
            list-style: none
        }

        ul.tab {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border-bottom: 1px solid #ddd
        }

        ul.tab li {
            float: left
        }

        ul.tab li a {
            display: inline-block;
            color: #000;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px
        }

        ul.tab li a:hover {
            border-bottom: 4px solid #32c5d7;
            border-top: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd
        }

        .active,
        ul.tab li a:focus {
            border-bottom: 4px solid #32c5d7;
            border-top: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd
        }

        .btn.btn-outline.green-haze {
            border-color: #44b6ae;
            color: #44b6ae;
            background: 0 0;
            border: 1px solid #44b6ae;
            padding: 4px 12px;
            border-radius: 19px
        }

        .btn.btn-outline.red-haze {
            border-color: #c82828;
            color: #c82828;
            background: 0 0;
            border: 1px solid #c82828;
            padding: 4px 12px;
            border-radius: 19px;
            padding: 0 7px;
            border-radius: 19px;
            font-size: 15px
        }

        a.pull-right.btn.green-haze.btn-outline.btn-circle.btn-sm {
            text-decoration: none
        }

        .caption-subject.font-green.sbold.uppercase.userg a {
            text-decoration: none;
            color: #32c5d4
        }

        .bp-item {
            overflow: visible !important
        }

        .caption-subject.font-green.sbold.uppercase.userg {
            margin-left: 45%;
            padding-top: 10px
        }

        .btn.btn-outline.green-haze {
            padding: 1px 7px;
            margin-right: 10px
        }

        a.pull-right.btn.green-haze.btn-outline.btn-circle.btn-sm {
            padding: 0 7px;
            border-radius: 19px;
            font-size: 15px
        }

        .ranks_list label {
            color: #fff
        }

        img.man_img {
            width: 70px
        }

        .ge_contt {
            top: -70px !important
        }

        .img-thumbnail,
        body {
            overflow: auto !important
        }

        .bp-item.bp-corner-all.bp-title-frame {
            top: 11px !important;
            left: 14px !important;
            width: 90% !important
        }

        .bp-item.bp-title {
            top: 1px !important;
            left: 0 !important;
            width: 100px !important;
            text-align: center;
            right: 0 !important;
            margin: 0 auto
        }

        .bp-item.bp-corner-all.bt-item-frame {
            background: 0 0;
            border: none;
            border-radius: 0
        }

        .bp-item.bp-corner-all.bp-title-frame {
            background: #e08957 !important;
            border-radius: 8px
        }

        .bp-photo-frame {
            margin-top: 7px;
            margin-left: 5px
        }

        .bp-item {
            color: #fff
        }

        .bp-photo-frame {
            border: none !important;
            left: 68px !important;
            height: 50px !important;
            top: 32px !important;
            margin-top: 13px !important
        }

        .bp-photo-frame img {
            height: 70px !important;
            width: 70px !important;
            border-radius: 100%
        }

        .bp-item.bp-photo-frame {
            width: 100% !important
        }

        .bp-item.bp-corner-all.bt-item-frame .ge_contt .bp-item:nth-child(3) {
            left: 67% !important;
            top: 80px !important;
            width: 160px !important;
            padding: 2px 17px;
            height: 40px !important
        }

        .bp-item.bp-corner-all.bt-item-frame .ge_contt .bp-item:nth-child(1) {
            left: 67% !important;
            top: 39px !important;
            width: 160px !important;
            padding: 8px 17px;
            height: 23px !important
        }

        .bp-item.bp-corner-all.bt-item-frame .ge_contt .bp-item:nth-child(2) {
            left: 67% !important;
            top: 62px !important;
            width: 160px !important;
            padding: 2px 17px
        }

        .bp-item.bp-corner-all.bt-item-frame .ge_contt .bp-item:nth-child(4) {
            width: 160px !important;
            padding: 2px 17px;
            left: 67% !important;
            top: 99px !important;
            height: 23px !important;
            font-size: 13px !important
        }

        .bp-item.bp-corner-all.bt-item-frame .bp-item:nth-child(2) a {
            color: #000;
            font-weight: 700
        }

        .bp-highlight-frame {
            background: 0 0 !important;
            border: none !important
        }

        .bp-item.bp-corner-all.bp-title-frame {
            top: 11px !important;
            left: 66px !important;
            width: 85px !important
        }

        .bp-item.bp-title {
            top: 1px !important;
            left: 16px !important;
            width: 79px !important
        }

        .ge_contt {
            display: none;
            position: absolute;
            left: 69%;
            top: 10px
        }

        .bp-item.bp-corner-all.bt-item-frame:hover .ge_contt {
            display: block
        }

        .bp-item.bp-corner-all.bt-item-frame:hover .ge_contt .bp-item.bp-corner-all.bt-item-frame .bp-item:nth-child(4) {
            display: block
        }

        .bp-item.bp-corner-all.bt-item-frame:hover .ge_contt .bp-item.bp-corner-all.bt-item-frame .bp-item:nth-child(4) a {
            display: block
        }

        .bp-cursor-frame {
            border: none !important;
            background: 0 0 !important;
            color: #eb8f00
        }

        .placeholder.orgdiagram path {
            fill-opacity: 0;
            stroke: #fff !important
        }

        .bp-photo-frame {
            background: 0 0 !important
        }

        .ge_contt .bp-item {
            background: #e08957
        }

        .bp-item.bp-rankphoto-frame img {
            height: 50px !important;
            width: 35px !important;
            position: absolute;
            left: 44px;
            top: 28px;
            transform: rotate(20deg)
        }

        .ge_contt {
            top: -5px
        }

        .Layer2 svg {
            width: 1870px !important
        }

        .bp-item.bp-corner-all.bt-item-frame .ge_contt .bp-item:nth-child(4) {
            left: 67% !important;
            top: 115px !important;
            width: 160px !important;
            padding: 2px 17px;
            height: 23px !important
        }

        .bp-item.bp-corner-all.bt-item-frame .ge_contt .bp-item:nth-child(5) {
            left: 67% !important;
            top: 135px !important;
            width: 160px !important;
            padding: 2px 17px;
            height: 23px !important
        }

        .bp-item.bp-corner-all.bt-item-frame .ge_contt .bp-item:nth-child(6) {
            left: 67% !important;
            top: 158px !important;
            width: 160px !important;
            padding: 2px 17px;
            height: 23px !important
        }

        .bp-item.bp-corner-all.bt-item-frame .ge_contt .bp-item:nth-child(7) {
            left: 67% !important;
            top: 180px !important;
            width: 160px !important;
            padding: 2px 17px;
            height: 23px !important
        }

        .bp-item.bp-corner-all.bp-title-frame {
            background: #5867dd !important;
            border-radius: 8px
        }

        .ge_contt .bp-item {
            margin-left: 6px;
            background: #5867dd
        }

        .bp-item.bp-title {
            top: 1px !important;
            left: 0 !important;
            width: 79px !important
        }

        .ge_contt {
            z-index: 100
        }

        .bp-item.bp-corner-all.bt-item-frame .bp-item:nth-child(2) a {
            color: #fff;
            font-weight: 700
        }

        :focus {
            outline: 0
        }

        .placeholder.orgdiagram path {
            stroke: #5867dd !important
        }

        .butt {
            padding: 0
        }

        .butt a.gen_tit {
            padding-top: 13px;
            font-size: 14px;
            font-weight: 500
        }

        .bp-item.bp-corner-all.bt-item-frame .ge_contt .bp-item:nth-child(6) a {
            color: #fff
        }

        .ge_contt {
            top: -157px !important
        }

        .ge_contt {
            display: none;
            position: absolute;
            left: 0
        }

        .Layer7 .bp-item:first-child .ge_contt {
            left: 69%;
            top: -45px !important
        }

        .bp-item a:hover {
            text-decoration: none
        }

        .bp-item.bp-corner-all.bt-item-frame .ge_contt .bp-item a {
            color: #fff
        }

        #contentpanel .bp-title {
            font-size: 12px;
        }

        /*iPhone 6 Portrait*/
        @media only screen and (min-device-width:375px) and (max-device-width:667px) and (orientation :portrait) {
            a#fullscreen {
                display: none
            }
        }

        @media only screen and (min-device-width:375px) and (max-device-width:667px) and (orientation :landscape) {
            a#fullscreen {
                display: none
            }
        }

        @media only screen and (min-device-width:414px) and (max-device-width:736px) and (orientation :portrait) {
            a#fullscreen {
                display: none
            }
        }

        @media only screen and (min-device-width:414px) and (max-device-width:736px) and (orientation :landscape) {
            a#fullscreen {
                display: none
            }
        }

        @media only screen and (max-device-width:640px),
        only screen and (max-device-width:667px),
        only screen and (max-width:480px) {
            a#fullscreen {
                display: none
            }
        }

        @media only screen and (max-device-width:640px),
        only screen and (max-device-width:667px),
        only screen and (max-width:480px) and (orientation :portrait) {
            a#fullscreen {
                display: none
            }
        }

        @media only screen and (max-device-width:640px),
        only screen and (max-device-width:667px),
        only screen and (max-width:480px) and (orientation :landscape) {
            a#fullscreen {
                display: none
            }
        }

        /*iPhone 6 Portrait*/
    